@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
}

.animated-bg {
    background-image: linear-gradient(120deg, #c10000 0%, #99ff66 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: rotatingBG 5s ease-in-out infinite;
}

.btn:hover, .btn:focus {
    transform: scale(1.05);
    outline: none;
}

.btn-primary:hover, .btn-primary:focus {
    filter: drop-shadow(0 0 0.75rem #c10000);
}

.btn-secondary:hover, .btn-secondary:focus {
    filter: drop-shadow(0 0 0.75rem #c4c4c4);
}

@keyframes rotatingBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}