<img src='/Images/logo.png' alt='Brain Blitz Logo' />
{{#if error}}
	<h1>Es ist ein Fehler aufgetreten.</h1>
	<p>{{error}}</p>
{{/if}}
{{#if userID}}
	<h1>Setzte hier dein Passwort zur체ck.</h1>
	<form>
        <label for="password">Neues Passwort</label>
		<input type='password' name='password' placeholder='Neues Passwort' required />
        <label for="password-confirm">Neues Passwort best채tigen</label>
		<input type='password' name='password-confirm' placeholder='Neues Passwort best채tigen' required />
		<input type='hidden' name='userID' value='{{userID}}' />
		<input type='hidden' name='token' value='{{token}}' />
		<button type='submit'>Passwort zur체cksetzen</button>
		<div class='error-box' style="min-height: 30px; color: red; text-align: center;"></div>
	</form>
{{/if}}

<script src='/JS/reset-password-validation.js'></script>