<p>Hey {{name}}</p>
<p>Danke das du dich bei Brain Blitz angemeldet hast. Bitte bestätige deine E-Mail Adresse per klick auf den unten stehenden Link</p>
<p><a href="{{url}}">Bestätigen</a></p>

<p>Solltest du dich nicht bei uns angemeldet haben, kannst du diese E-Mail ignorieren.</p>