<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		
	</head>
	<body style="font-family: 'Roboto', sans-serif; height: 100%;">
		<div style="background-color: #1a1a1a;color: #ffffff;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;height: 100vh; text-align: center;">
		<img src="cid:email" alt="email" width="150px" style="margin: 3rem 0;">
		<h1 style="font-size: 3rem;margin-bottom: 1rem;">Hey {{name}}!</h1>
		<p class="main-text" style="font-size: 1.2rem;text-align: center;margin-bottom: 2rem;width: 600px;">
			Vielen Dank, dass du dich über unser Kontaktformular gemeldet hast. Wir werden uns so schnell wie möglich bei dir melden.
		</p>
    
		<div>
			<p class="footer-note" style="font-size: 0.8rem;">Deine Nachricht:</p>
			<p class="footer-note" style="font-size: 0.8rem;">{{message}}</p>
		</div>

		<p class="footer-note" style="margin-top: 2rem;font-size: 0.8rem;">Du kannst diese E-Mail ignorieren, falls du keine Nachricht an uns gesendet hast.</p>
		</div>
	</body>
</html>
