<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		
	</head>
	<body style="font-family: 'Roboto', sans-serif; height: 100%;">
		<div style="background-color: #1a1a1a;color: #ffffff;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;height: 100vh; text-align: center;">
		<img src="cid:email" alt="email" width="150px" style="margin: 3rem 0;">
		<h1 style="font-size: 3rem;margin-bottom: 1rem;">Hey {{name}}, dein Passwort wurde geändert!</h1>
		<p class="main-text" style="font-size: 1.2rem;text-align: center;margin-bottom: 2rem;width: 600px;">
			Dein Passwort wurde erfolgreich geändert. Wenn du diese Änderung nicht vorgenommen hast, kontaktiere uns bitte umgehend mit dem unten stehenden Link.
		</p>
		<a href="{{url}}" style="text-decoration: none;color: #ffffff;background-color: #c10000;padding: 0.8rem 1rem;border-radius: 5px;width: 200px;text-align: center;transition: all 0.2s ease-in-out;">Kontaktiere uns</a>

		<p class="footer-note" style="margin-top: 2rem;font-size: 0.8rem;">Du kannst diese E-Mail ignorieren, falls du dein Passwort selbst geändert hast.</p>
		</div>
	</body>
</html>
